.small-text {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}

.title {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    line-height: 1;
    font-size: 15px;
}

.edit-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.icon-wrapper {
    float: right;
}

.description-wrapper {
    line-height: 1;
}

.experience-image {
    border-radius: 50%;
}