$main-color: #5bbbae;
$main-color-hover: #497d76;
$text-color: #252525;
$font-size-xs: 1em;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.page-loading-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 83vh;
  width: 100vw;
}
.search-suggest-icon-loading{
  width: fit-content;
  position: absolute;
  top: 5px;
  right: 12px;
}
.component-loading-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 50px;
  width: 100vw;
}

:export {
  mainColor: $main-color;
}
