.label-size {
  font-size: 1.4rem;
}

.no-margin-left-right {
  margin-left: 0;
  margin-right: 0;
}

.button-wrapper {
  margin-top: 20px;
}
.react-autosuggest__container {
  width: 100% !important;
}
.react-autosuggest__input{
  width: 100% !important;
}