.step-content {
  margin-top: 50px;
  border: 1px solid #ececec;
  padding: 50px;
  border-radius: 5px;
}

.step-button {
  margin: 50px 0;
  text-align: center;
}

.loading-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 83vh;
  width: 100vw;
}
