.size-icon {
  font-size: 18px;
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
}

.size-text {
  font-size: 14px;
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
}

.contain {
  display: table;
}
