.small-text {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
}

.link {
  font-weight: normal;
  text-decoration: underline;
}

.margin-left {
  margin-left: 5px;
}

.image-style {
  height: 70px;
  width: 70px;
}
