.fix-text {
  display: inline-block;
  margin-bottom: 0 !important;
  vertical-align: middle;
}

.see-more {
  font-size: 11px;
}

.detail {
  font-size: 11px;
  line-height: 1.1;
  padding: 5px 0;
}

.contain {
  padding-top: 10px;
}
a {
  cursor: pointer;
}